@font-face {
  font-family: switzer;
  src: url("/assets/fonts/Switzer_Complete/Fonts/WEB/fonts/Switzer-Variable.ttf");
}

.font-switzer {
  font-family: switzer;
}

@font-face {
  font-family: boska;
  src: url("/assets/fonts/Boska_Complete/Fonts/WEB/fonts/Boska-Variable.ttf");
}

.font-boska {
  font-family: boska;
}

.font-boska-italic {
  font-family: boska-italic;
}
