@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) format('ttf');
  }

  @font-face {
    font-family: "AvenirNext";
    src: url(/assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf) format('otf');
  }
}